
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-fonte: #ffffff;
    --cor-primaria:#D95D39;
    --cor-secundaria: #202C59; 
    --cor-terciaria:  #581F18;
    --cor-barra: #ffffff;
    --fonte-texto: "Winky Rough", sans-serif;
    --fonte-titulo: "Bebas Neue", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}



.cabecalho__menu {
    display: flex;
    gap: 2rem;
    padding: 2%;


    
}

.cabecalho__menu__link {
    padding: 1rem;
    border-radius: 16px;
    width: 30%;
    font-family: var(--fonte-texto);
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    
    
    color: var(--cor-fonte);
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-secundaria);
    
}
body {
   background-color: var(--cor-primaria);

}

.curriculo {
   padding: 2%;
   
   
}

.curriculo__apresentacao {
    background-color: var(--cor-secundaria);
    padding: 10%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.curriculo__apresentacao__foto {
    height: auto;
    width: 40%;
    border-radius: 16px;
    border:0.5rem solid var(--cor-primaria);
}

.curriculo__apresentacao__titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte);
    font-size: 2rem;
}

.curriculo__apresentacao__subtitulo {
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
    font-style:italic;
    font-size: 1.8rem;


}

.curriculo__apresentacao__texto {
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
    text-align: start; 
    font-size: 1.5rem; 

}
.curriculo__apresentacao__tabela{
    color: var(--cor-fonte);
    list-style: none;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
   
}


.curriculo__apresentacao__links {
    display: flex;
    justify-content: space-around;
    
   
}

.curriculo__apresentacao__links__link {
    display: flex;
    gap:0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--cor-fonte);
    font-family: var(--fonte-texto);
    font-size: 1.5rem;

}
.curriculo__skills__titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte);
    font-size: 2rem;
    padding: 1rem;
  
}

.curriculo__skills {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    
}

.curriculo__skills--profissionais {
    background-color: var(--cor-secundaria);
    width: 45%;
    padding:5%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.curriculo__skills--profissionais__subtitulo {
    color: var(--cor-fonte);
    font-family: var(--fonte-titulo);

}

.curriculo__skills--profissionais__skill {
   color: var(--cor-fonte);
   font-family: var(--fonte-texto);
   
}

.curriculo__skills--profissionais__barra {
    color: var(--cor-fonte);
    background-color: var(--cor-barra);
}

#html--progresso {
    background-color: var(--cor-terciaria);
    width: 90%;
    text-align: center;
}

#javascript--progresso {
    background-color: var(--cor-terciaria);
    width: 40%;
    text-align: center;

}

#bootstrap--progresso {
    background-color: var(--cor-terciaria);
    width: 30%;
    text-align: center;
    
}

.curriculo__skills--adicionais {
    padding: 5%;
    width: 45%;
    background-color: var(--cor-secundaria);
    border-radius: 16px;
}

.curriculo__skills--adicionais__subtitulo {
    color: var(--cor-fonte);
    font-family: var(--fonte-titulo);
    
    
}

.curriculo__skills--adicionais__lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
   
    
    
}
.rodape {
    background-color: var(--cor-terciaria);
    padding: 1rem;
    width: 100%;
    color: var(--cor-fonte);
    font-family: var(--fonte-titulo);
    text-align: center;
    box-sizing: border-box;
}

.curriculo__sobremim {
    display: flex;
    background-color: var(--cor-secundaria);
    border-radius: 16px;
    flex-direction: column;
    padding: 5%;
    align-items: center;

}

.curriculo__sobremim__foto {
    width: 20%;
    height: 30%;
    border-radius: 5%;
    border: 0.5rem solid var(--cor-terciaria);

}
.curriculo__sobremim__texto{
    text-indent: 4rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    margin: 2%;
    text-align: justify;

}


@media(max-width:500px){
    :root{
        font-size: 10px;
    }
    .curriculo__skills{
        flex-direction: column;
        align-items: center;
    }
    .curriculo__skills--profissionais{
        margin-bottom: 10%;
    }
}